target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
**/__pycache__

### IntelliJ IDEA ###
.idea
logs
*.iws
*.iml
*.ipr
.DS_Store

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
model_data/

##python project
doc_data/umeng_doc_vector/*
tmp/*